<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dishdelight">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        >

        <activity
            android:name=".FrontPageActivity"
            android:exported="true"> <!-- Set android:exported to true for launcher activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declare MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="false"> <!-- Set android:exported to false if it should not be available to other apps -->
        </activity>

    </application>

</manifest>
